@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

.squada-one-regular {
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* foto do banner*/
.bg-white-car {
  background-image: url('guincho-carro.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}

@media screen and (max-width: 660px) {
  .bg-white-car {
    background-size: 800px;
  }
  .bg-map {
    background-image: url('bg-map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-callcenter {
    background-image: url('callcenter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-highway {
    background-image: url('highway.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}